<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title logo">UoP Tour Guide</h1>
    </div>
</div>
<div class="topcoat-list_item bgimage"><p><span>Welcome to UoP Tour Guide where you can get info about different buildings and navigate there.</span></p></div>
<div class="search-bar">
    <input type="search" placeholder="search" class="topcoat-search-input search-key" style="width:100%;">
</div>
<div class="topcoat-list__container scroller"></div>