<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Location</h1>
    </div>
</div>


<div id="content"></div>
<div id="map-canvas"></div>
<div id="directions-panel"></div>