.topcoat-navigation-bar {
    z-index: 10;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    left: 0px;
    right: 0px;
}

.logo{
    font-size:1.5em;
    font-weight:bold !important;
    color: #59379E !important;
    text-shadow: 2px 1px 0px rgba(0,0,0,0.2);

}

.bgimage{
    background: url(../images/uop.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:200px;   
}

.bgimage > p{
    position: fixed;
    height:1.25em;
    font-size:1.50em;
    color: #ffffff;
    top:100px;
}

.bgimage span{
    background: rgba(0,0,0, 0.3);
}
.topcoat-list__container {
    border-bottom: none;
    clear: both;
}

.count {
    color: #58C0FF;
    position: absolute;
    right: 50px;
    top: 26px;
    font-weight: bold;
}

.search-bar {
    padding:12px 10px 9px 8px;
    border-bottom:1px solid #9daca9;
    border-top:1px solid #9daca9;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-touch-callout: none;
   -webkit-tap-highlight-color: rgb(161, 161, 161);
}

.details {
    margin: auto;
}

.details >img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.details h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.details h2 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-weight: normal;
    color: #59379E;
}
.details p{
    margin-top: 0;
}
.list li {
    position: relative;
    text-align: left;
    clear: both;
    padding: 12px 60px 16px 8px !important;
}

.list > li p:nth-of-type(1) {
    margin: 0px;
    padding-top: 4px;
    font-weight: bold;
    color:#000000;
}

.list > li p:nth-of-type(2) {
    margin: 0px;
    color: #59379E;
}

.list > li img {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}

.list li:active {
    background-color: #A1A1A1;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
    box-shadow: inset 0 1px rgba(0,0,0,0.18);
}

.action-list > li {
    position: relative;
}

.action-icon {
    position: absolute !important;
    top: 22px;
    right: 20px !important;
    width: 28px !important;
    height: 28px;
}


ul {
    clear:both;
    border-top: none !important;
}

.icon-call {
    background: transparent url(../images/call_pur.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-mail {
    background: transparent url(../images/email_pur.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.icon-location {
    background: transparent url(../images/location_pur.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.chevron {
    background: transparent url(../images/next_pur.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 22px;
    height: 50px;
    width: 28px;
}

.hide{
    visibility: hidden;
}

.navigate{
    position:relative;
    top:9px;
}

#map {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#map-canvas{
    height:40%;
    margin:0px;
    padding:0px;
}

.warnbox-content, .warnbox-c1, .warnbox-c2{
    display:none;
}

#direction-panel{
    height:60%;
    overflow: auto;
}